beautifulsoup4
click
colorama
dj-database-url
dj-static
Django
django-tinymce
djangorestframework
et-xmlfile
gunicorn
httpie
jdcal
lpthw.web
mysqlclient
numpy
openpyxl
psutil
psycopg2
py
pygal
Pygments
pytest
requests
static3
Twisted
virtualenv
whitenoise
zope.interface